{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "dot-notation": "error",
    "prettier/prettier": "error"
  }
}
